.center {
  width: 100%;
  text-align: center;
  float: right;
}

.border {
  border-color: gray;
  border-style: inset;
}

#post-area {
  width: 64%;
  float: left;
}

#quick-links {
  width: 30%;
  float: right;
}

* {
  color: white;
  background-color: #164439;
}
