.center {
  width: 100%;
  text-align: center;
  float: right;
}

.margin {
  margin: 5px;
}

.inset {
  border-color: gray;
  border-style: inset;
}

.outset {
  border-color: gray;
  border-style: outset;
}

.invis-link {
  text-decoration: none;
}

.post-content {
  width: 100%;
}

#posts {
  width: 70%;
  float: left;
}

#quick-links {
  width: 25%;
  float: right;
}

* {
  color: white;
  background-color: #164439;
}
